.container{
   margin-left: 40vw;
   margin-right: 25vw;
   width: 225px;
   height: 280px;
   padding: 8px;
   text-align: center;
   border-radius: 10px;
}
.button{
    margin: 5px; 
    background-color: #3f3a60;
 
}
#b00{
    width: 85px;
}.input input{
    width: 190px;
    border-radius: 7px;
    border: #32324d none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button{
    border-radius: 52px;
    width: 35px;
    box-shadow: 2px 2px #3e4358;
    font-family: 'Mukta', sans-serif;
    font-size: 1.1rem;
}
.button:hover{
    cursor: pointer;
}

.container{
    background-color: #32324d;
}
.button.b1{
    color: rgb(69, 174, 76);

}
.button.b2{
    color: rgb(221, 230, 222);

}


h1{
    text-align: center;
    animation: jump 2s ease-out infinite alternate;
    font-family: 'Mukta', sans-serif;
    margin: 0 40vw 0 40vw;
}
h1::before {
    content: '';
    position: absolute;
    width: 72%;
    height: 2px;
    background-color: rgb(69, 174, 76); /* Underline color */
    bottom: 0;
    left: 10;
    right: 10;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
h1:hover {
    animation-play-state: paused; /* Pause animation on hover */
}

@keyframes jump{
   
    from{
        transform: translateY(10px);
    }
    to{
        transform: translateY(-20px);
    }
}